/* Reset global para garantir que tudo esteja consistente */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: transparent;
  list-style: none;
}

.Title-Gestao{
  font-weight: 900;
  color: #fff;
}

div.links {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  font-weight: 800;
  color: #d81d1d;
  z-index: 10;
}

.burger-links{
  display: none;
}


@media screen and (max-width: 600px) {
  .burger-links{
    display: block;
  }
  
}

Link .links-nav{
  display: none;
}


.links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s ease-in-out;
  gap: 2rem;
  margin-right: 4rem;

}

.links nav a:hover {
  color: #4CAF50;
  /* Mudança de cor ao passar o mouse */
  cursor: pointer;
}

/* Estilos para o mobile */
@media screen and (max-width: 600px) {
  .nav-links- {
    display: block;
  }

  /* Esconde os links no celular */
  div.links {
    display: none;
  }

  /* Exibe o container do hambúrguer no celular */
  .burger-container {
    display: block;
    z-index: 20;
    /* Garante que o hambúrguer estará sobre outros elementos */
  }

  /* Estilos do botão do hambúrguer */
  .burger {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    z-index: 25;
    /* Garantindo que o botão esteja acima de outros elementos */
  }

  /* Estilos das barras do hambúrguer */
  .burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: rgb(55, 160, 2);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transition: .25s ease-in-out;
  }

  .burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
  }

  .burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
  }

  .burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
  }

  /* Adicionando a animação quando o menu for aberto */
  .burger-links {
    display: none;
    /* Esconde os links inicialmente */
    position: absolute;
    left: 0;
    background-color: rgb(0, 0, 0);
    /* Fundo escuro */
    width: 100%;
    padding: 1rem;
    text-align: center;
    height: 100vh;
    z-index: 15;
    opacity: 0;
    transition: opacity 0.5s ease;
    /* Animação de opacidade */
  }

  /* Quando o menu está aberto, a classe 'open' será aplicada */
  .burger-links.open {
    display: block;
    opacity: 1;
    /* Exibe os links com animação */
    animation: slideIn 0.5s ease-out forwards;
    /* Aplicando animação */
  }

  /* Transformações das barras quando o menu está aberto */
  .burger .bar.open:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
  }

  .burger .bar.open:nth-of-type(2) {
    width: 0%;
    opacity: 0;
  }

  .burger .bar.open:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
  }

  /* Estilos dos links dentro do menu hambúrguer */
  .burger-links a {
    display: block;
    color: #060606;
    padding: 2rem;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease-in-out;
  }

  .burger-links a:hover {
    color: #4CAF50;
  }
}

/* Animação para a entrada do menu */
@keyframes slideIn {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* src/pages/HomePage.css */

.home-page {
  position: relative;
  width: 100%;
  height: 100vh;
  /* Ocupa toda a altura da janela */
  overflow: hidden;
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../src/assets/banner-desktop.jpeg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner.show {
  opacity: 1;
  transform: translateX(0);
}

.banner-content {
  position: absolute;
  top: 33%;
  left: 40%;
  transform: translate(-50%, -50%);
  text-align: left;
  color: rgb(255, 255, 255);
  padding: 20px;
  max-width: 80%;
  z-index: 1;
}

.banner-content h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  animation: slideIn 1.2s ease-out forwards;
}

.banner-content p {
  font-size: 1.25rem;
  margin-bottom: 30px;
  animation: slideIn 0.8s ease-out forwards;
}


@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.link-software {
  color: rgb(250, 250, 250);
  padding: 12px 24px;
  font-size: 1rem;
  border-radius: 1rem;
  font-weight: 900;
  text-decoration: none;
  cursor: pointer;
  border: none;
  outline: none;
  animation: slideIn 0.8s ease-out forwards;
  /* Animação de entrada */
  opacity: 0;
  transform: translateX(-100%);
  /* Começa invisível e fora da tela */
  transition: background 1s ease, padding 1s ease, filter 1s ease;
  /* Transições para hover e alterações de estilo */
}

.link-software:hover {
  /* Efeito de hover */
  background-image: radial-gradient(circle farthest-corner at 10% 20%, #4CAF50 17.8%, #209123 100.2%);
  padding: 13px 26px;
  /* Aumenta o tamanho do botão */
  filter: blur(0px);
  /* Remove o blur */
}

.link-software:not(:hover) {
  /* Efeito quando não está em hover */
  background: radial-gradient(circle farthest-corner at 10% 20%, #4CAF50 17.8%, #4CAF50 100.2%);

}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    /* Inicia fora da tela */
    opacity: 0;
    /* Inicialmente invisível */
  }

  100% {
    transform: translateX(0);
    /* Entra na posição final */
    opacity: 1;
    /* Fica totalmente visível */
  }
}

button.link-software::after {
  content: '';
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, #4CAF50 17.8%, #209123 100.2%);
  filter: blur(15px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  /* Coloca o pseudo-elemento atrás do botão */
}

button.link-software:active {
  /* Efeito quando o botão é pressionado */
  transform: scale(0.9) rotate(3deg);
  /* Encolhe e rotaciona */
  background: radial-gradient(circle farthest-corner at 10% 20%, #4CAF50 17.8%, #4CAF50 100.2%);
  transition: transform 0.5s ease, background 0.5s ease;
}


@media screen and (max-width: 600px) {
  .banner-content {
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 20px;
    justify-content: center;
    max-width: 80%;
    z-index: 1;
    width: 300px;
  }

  .banner-content h2 {

    font-size: 1.8rem;
  }

  .banner {
    background-image: url('../src/assets/banner-mobile.png');

  }
}

/* Pagina Dois */

.page-two {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  justify-content: center;
  margin-top: 5rem;
  background-color: transparent;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* Duas colunas */
  grid-template-rows: auto auto auto;
  /* Três linhas: 1 para inputs, 1 para selects + botão e 1 para a tabela e total */
  gap: 3rem;
  padding: 20px;
  border-radius: 10px;
}

.container .inputGroup {
  grid-column: span 1;
  /* Cada input ocupará uma coluna */
}

.container .selectGroup {
  grid-column: span 1;
  /* Os selects ocuparão uma coluna cada */
  display: flex;
  flex-direction: column;
  /* Alinha os selects e o botão em uma coluna */
  gap: 10px;
  /* Espaçamento entre os selects e o botão */
}

.container .tableGroup {
  grid-column: span 2;
  /* A tabela ocupará duas colunas */
}

.container .totalGroup {
  grid-column: span 2;
  /* A div de total ocupará duas colunas */
}

@media (max-width: 768px) {
  .container {
    margin-top: 1rem;
    grid-template-columns: 1fr;
    /* Em telas pequenas, todos os elementos ficam em uma coluna */
    grid-template-rows: auto;
    /* Apenas uma linha */
  }

  .container .inputGroup,
  .container .selectGroup,
  .container .tableGroup,
  .container .totalGroup {
    grid-column: span 1;
    /* Todos os elementos ocupam uma coluna */
  }
}

div.row{
  gap: 5rem;

}

.form-inputs {
  display: flex;
  background-color: transparent;
  flex-direction: column;
  gap: 1.5rem; /* Espaçamento entre os campos */
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px; /* Limita a largura máxima */
  margin: 0 auto; /* Centraliza o formulário */
  transition: transform 0.3s ease, opacity 0.3s ease;

}


@media (max-width: 768px) {

  /* Em telas muito pequenas, como smartphones */
  .transaction-form-page {
    justify-content: center;
    margin-top: 40px;
  }

  .inputGroup {
    width: 350px;
  }
}


.app-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.inputGroup {
  font-family: 'Segoe UI', sans-serif;

  position: relative;
}

.inputGroup input {
  font-size: 100%;
  padding: 1.2em;
  outline: none;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 30px;
  background: #ffffff;
  box-shadow: 5px 5px 10px #bebebe,
    -5px -5px 10px #ffffff;
  width: 100%;
}

.inputGroup label {
  font-size: 100%;
  position: absolute;
  left: 0;
  padding: 0.8em;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(100, 100, 100);
}

.inputGroup :is(input:focus, input:valid)~label {
  transform: translateY(-50%) scale(.9);
  margin: 0em;
  margin-left: 1.3em;
  padding: 0.4em;
  background-color: #fff;
  border-radius:14px;
}

.inputGroup :is(input:focus, input:valid) {
  border-color: rgb(90, 169, 111);
}


.Create-Gest {
  margin-top: 2rem;
  box-shadow: 5px 5px 10px #bebebe,
    -5px -5px 10px #ffffff;
  cursor: pointer;
  border: none;
  background-color: #4CAF50;
  border-radius: 0.9em;
  cursor: pointer;
  padding: 0.8em 1.2em 0.8em 1em;
  transition: all ease-in-out 0.2s;
  font-size: 16px;
}

.Create-Gest span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
}

.Create-Gest:hover {
  background-color: #4CAF50;
}

.Select-Gest {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #c1c1c1;
  border-radius: 30px;
  background: #ffffff;
  box-shadow: 5px 5px 10px #bebebe,
    -5px -5px 10px #ffffff;
  cursor: pointer;
  padding: 0.8em 1.2em 0.8em 1em;
  transition: all ease-in-out 0.2s;
  font-size: 16px;
}

.category-group {
  display: grid;
  flex-direction: row;
  gap: 1.5rem;
  border-radius: 2rem;
}

.category-group select {
  text-align: center;
  gap: 2rem;

}

@media screen and (max-width: 600px) {
  .category-group {
    flex-direction: column;
    gap: 1.2rem;

  }

}

a.links-nav {
  color: #28d42d;
}


/* Estilos para os selects */
.container select {
  border-radius: 20px;
  border: 2px solid #ccc;
  background-color: transparent;
  width: 100%;
  /* Faz o select ocupar toda a largura disponível */
  color: #333;
  /* Cor do texto */
}

.container select:focus {
  border-color: #0bc82d;
  /* Cor da borda ao focar no select */
  outline: none;
}

/* Adicionando a seta personalizada */
.container select::-ms-expand {
  display: none;
  /* Para Internet Explorer */
}

.container select::after {
  content: "▼";
  /* Símbolo da seta */
  font-size: 1.2em;
  color: #333;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

/* Se você deseja usar um ícone SVG como seta personalizada */
.select-icon {
  color: #060606;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.select-wrapper {
  position: relative;
  display: inline-block;
}

.select-wrapper select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 25px;
  /* Espaço para a seta */
}

.total-container {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, opacity 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 350px;
  margin: 0 auto;
}

.total-container h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.total-container p {
  font-size: 1rem;
  margin: 5px 0;
}

.total-container .delete-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #e57373;
  transition: transform 0.2s ease;
}

.total-container .delete-btn:hover {
  transform: scale(1.1);
}

.total-container.animate {
  animation: bounceIn 0.5s ease-out;
}

/* Animação de Entrada */
@keyframes bounceIn {
  0% {
      transform: scale(0.9);
      opacity: 0;
  }
  60% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
      opacity: 1;
  }
}




/* Estilo para a lista de transações */
.transaction-graphic {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, opacity 0.3s ease;
  display: flex;
  flex-direction: column;
}

h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

/* Lista de transações */
.transaction-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* Lista de transações */
.transaction-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.transaction {
  display: grid;
  grid-template-columns: 1fr 60px; /* Primeira coluna para a descrição, segunda para o botão de deletar */
  grid-template-rows: auto; /* Apenas uma linha para as transações */
  grid-gap: 1px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, opacity 0.3s ease;
  border-radius: 18px;
  margin-bottom: 15px;
  padding: 20px;
  text-align: justify;
}

/* Informações da transação */
.transaction-info {
  display: flex;
  flex-direction: column; /* Alinha a descrição na coluna */
  justify-content: space-between;
}

/* Descrição da transação (primeira linha) */
.transaction-description {
  grid-column: 1 / span 2; /* A descrição ocupa a primeira coluna e a segunda */
  font-size: 18px;
  color: #333;
  font-weight: 600;
}

/* Detalhes da transação: valor, categoria e tipo (alinhados horizontalmente) */
.transaction-details {
  display: flex;
  justify-content: space-between; /* Alinha os itens na horizontal */
  grid-column: 1 / 2; /* Coloca os detalhes na primeira coluna */
  width: 100%; /* Garante que ocupe toda a largura disponível */
}

/* Valor da transação */
.transaction-amount {
  font-size: 18px;
  font-weight: 500;
}

/* Categoria da transação */
.transaction-category {
  font-size: 18px;
  color: #333;
}

/* Tipo da transação (Entrada ou Despesa) */
.transaction-type {
  font-size: 18px;
  font-weight: 500;
  text-align: right; /* Alinha à direita */
}

/* Estilo para 'Entrada' */
.transaction-type.income {
  text-shadow: 1px 1px 5px rgba(0, 255, 0, 0.5); /* Sombras verdes para 'Entrada' */
  color: #28a745;
}

/* Estilo para 'Despesa' */
.transaction-type.expense {
  text-shadow: 1px 1px 5px rgba(255, 0, 0, 0.5); /* Sombras vermelhas para 'Despesa' */
  color: #dc3545;
}

/* Botão de deletar */
.delete-btn {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  justify-self: center;
}

.delete-btn:hover {
  transform: scale(1.1);
}


/* Animação de entrada */
.transaction-enter-active {
  animation: slideIn 0.5s ease-in-out forwards;
}

/* Animação de saída */
.transaction-exit-active {
  animation: slideOut 0.5s ease-in-out forwards;
}



@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(20px);
  }
}

/* Botão de deletar */
.delete-btn {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  justify-self: center;
}

.delete-btn:hover {
  transform: scale(1.1);
}

/* Estilo para transações de entrada */
.transaction.income {
  color: #28a745; /* Verde */
  font-size: 20px;  /* Tamanho maior para entradas */
}

/* Estilo para transações de saída */
.transaction.expense {
  color: #dc3545; /* Vermelho */
  font-size: 20px;  /* Tamanho maior para saídas */
}

/* Animação de entrada */
.transaction-enter-active {
  animation: slideIn 0.5s ease-in-out forwards;
}

/* Animação de saída */
.transaction-exit-active {
  animation: slideOut 0.5s ease-in-out forwards;
}

@keyframes slideIn {
  0% {
    transform: translateX(-10px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(10px);
    opacity: 0;
  }
}





/* estilizações de Em Breve  */

/* Estilo do título (com animação) */
.animated-text {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-align: center;
  animation: textPulse 1.5s ease-in-out infinite;
}

@keyframes textPulse {
  0% {
    color: #333;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  50% {
    color: #1eb22a;
    text-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
  }
  100% {
    color: #333;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 30px;
}

.modelViewPort {
  perspective: 1000px;
  width: 20rem;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  overflow: hidden;
}

.eva {
  --EVA-ROTATION-DURATION: 4s;
  transform-style: preserve-3d;
  animation: rotateRight var(--EVA-ROTATION-DURATION) linear infinite alternate;
}

.head {
  position: relative;
  width: 6rem;
  height: 4rem;
  border-radius: 48% 53% 45% 55% / 79% 79% 20% 22%;
  background: linear-gradient(to right, white 45%, gray);
}

.eyeChamber {
  width: 4.5rem;
  height: 2.75rem;
  position: relative;
  left: 50%;
  top: 55%;
  border-radius: 45% 53% 45% 48% / 62% 59% 35% 34%;
  background-color: #0c203c;
  box-shadow: 0px 0px 2px 2px white, inset 0px 0px 0px 2px black;
  transform: translate(-50%, -50%);
  animation: moveRight var(--EVA-ROTATION-DURATION) linear infinite alternate;
}

.eye {
  width: 1.2rem;
  height: 1.5rem;
  position: absolute;
  border-radius: 50%;
}

.eye:first-child {
  left: 12px;
  top: 50%;
  background: repeating-linear-gradient(65deg, #15ca3f 0px, #0bd923 1px, rgb(19, 154, 7) 2px);
  box-shadow: inset 0px 0px 5px #15a61f, 0px 0px 15px 1px #19b226;
  transform: translate(0, -50%) rotate(-65deg);
}

.eye:nth-child(2) {
  right: 12px;
  top: 50%;
  background: repeating-linear-gradient(-65deg, #0bd923  0px, #19b226 1px, white 2px);
  box-shadow: inset 0px 0px 5px #05ea46, 0px 0px 15px 1px #0beb52;
  transform: translate(0, -50%) rotate(65deg);
}

.body {
  width: 6rem;
  height: 8rem;
  position: relative;
  margin-block-start: 0.25rem;
  border-radius: 47% 53% 45% 55% / 12% 9% 90% 88%;
  background: linear-gradient(to right, white 35%, gray);
}

.hand {
  position: absolute;
  left: -1.5rem;
  top: 0.75rem;
  width: 2rem;
  height: 5.5rem;
  border-radius: 40%;
  background: linear-gradient(to left, white 15%, gray);
  box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.25);
  transform: rotateY(55deg) rotateZ(10deg);
}

.hand:first-child {
  animation: compensateRotation var(--EVA-ROTATION-DURATION) linear infinite alternate;
}

.hand:nth-child(2) {
  left: 92%;
  background: linear-gradient(to right, white 15%, gray);
  transform: rotateY(55deg) rotateZ(-10deg);
  animation: compensateRotationRight var(--EVA-ROTATION-DURATION) linear infinite alternate;
}

.scannerThing {
  width: 0;
  height: 0;
  position: absolute;
  left: 60%;
  top: 10%;
  border-top: 180px solid #19b226;
  border-left: 250px solid transparent;
  border-right: 250px solid transparent;
  transform-origin: top left;
  mask: linear-gradient(to right, white, transparent 35%);
  animation: glow 2s cubic-bezier(0.86, 0, 0.07, 1) infinite;
}

.scannerOrigin {
  position: absolute;
  width: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  left: 60%;
  top: 10%;
  background: #19b226;;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);
  animation: moveRight var(--EVA-ROTATION-DURATION) linear infinite;
}

@keyframes rotateRight {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(25deg);
  }
}

@keyframes moveRight {
  from {
    transform: translate(-50%, -50%);
  }
  to {
    transform: translate(-40%, -50%);
  }
}

@keyframes compensateRotation {
  from {
    transform: rotateY(55deg) rotateZ(10deg);
  }
  to {
    transform: rotatey(30deg) rotateZ(10deg);
  }
}

@keyframes compensateRotationRight {
  from {
    transform: rotateY(55deg) rotateZ(-10deg);
  }
  to {
    transform: rotateY(70deg) rotateZ(-10deg);
  }
}

@keyframes glow {
  from {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  45% {
    transform: rotate(-25deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    opacity: 0;
  }
}

.col-md-12{
  display: flex;
  flex-direction: column;
  gap: 4.3rem;
}

@media screen and (max-width: 600px) {
  .col-md-12{
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .total-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .transaction-graphic {
    margin-top: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, opacity 0.3s ease;
    display: flex;
    flex-direction: column;
  }
}

/* Estilo para a mensagem de erro */
.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
}
